html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
}

th {
    width: 10%;
}

td {
    width: 10%;
}

.headerTable {
    margin-bottom: 0px;
}

.filterInput {
    padding-left:8px;
}

.btn-primary-override {
    background-color: #ff006b;
    border: none;
}

.btn-primary-override:hover {
    background-color: #FF3388;
}

a {
    text-decoration: none;
    color: black;
}

th {
    background-color:grey;
}

    th a:hover {
        color: #ff006b;
    }

.page-item.active .page-link-override {
    background-color: #ff006b;
    border-color: #ff006b;
}

.page-link-override {
    color: black;
}

    .page-link-override:hover {
        color: #FF3388;
    }

.page-link-override.disabled {
    color: grey;
}

form {
    display: inline-block;
}

.sortArrow {
    text-align: right;
}

th a {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
}